body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #e2e2c1;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #8f1818;
    padding: 20px 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff6347;
}

.content {
    margin-top: 70px;
    padding: 20px;
}

section {
    margin: 50px 0;
    height: 50vh; /* Ensure there is enough content to scroll */
}

#navbar.scrolled {
    background-color: #1d0ef0;
}
